<% title='create movie' %>

    <div class="container d-flex justify-content-center mt-5">
        <div class="col-md-6">
            <div class="mb-3">
                <div class="mb-3">
                    <img src="" alt="">
                </div>
                <div>
                    <label for="formFile" class="form-label">Add Movie Thumbnail</label>
                    <input class="form-control" type="file" id="formFile">
                </div>
             
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Enter Movie Title</label>
                <input type="text" class="form-control" id="exampleFormControlInput1"
                    placeholder="Selected movie title">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Enter Movie Discription</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Add Movie file</label>
                <input class="form-control" type="file" id="formFile">
            </div>
           <div>
            <input type="button" class="btn btn-primary" value="Create Movie">
           </div>
        </div>

    </div>

    <style>
        img{
            height: 200px;
            width: 150px;
        }
    </style>