<% title='edit' %>

<div class="container d-flex justify-content-center mt-5">
    <div class="col-md-6">
        <form action="/movies/edit/<%= movie._id %>" method="POST">
            <div class="mb-3">
                <div class="mb-3">
                    <img src="<%= movie.thumbnail %>" alt="">
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Movie Title</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="title" value="<%= movie.title %>">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Movie Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name="description" rows="3"><%= movie.discription %></textarea>
            </div>
            <div>
                <input type="submit" class="btn btn-primary" value="Save changes">
            </div>
        </form>
    </div>
</div>

<style>
    img {
        height: 200px;
        width: 150px;
    }
</style>
