<% title='edit' %>

    <div class="container">
        <div>
            <img src="" alt="movie thumbnail">
        </div>
        <div>
            <h4>
                <%= movie.title %>
            </h4>
            <p>
                <%= movie.discription %>
            </p>

            <div class="d-flex">
                <button class="m-1"><a href="/movies/edit/<%= movie._id %>">edit</a></button>
                <button class="m-1" data-bs-toggle="modal" data-bs-target="#exampleModal">delete</button>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <%- include('./deleteMovie') %>
                </div>
            </div>
        </div>

    </div>
    <style>
        .container {
            display: flex;
            flex-direction: column;
            /* justify-content: center; */
            /* align-items: center; */
        }
    </style>