.change-password-container {
    padding: 20px;
    background-color: #121212; /* Dark background */
    min-height: 100vh;
    color: #fff; /* White text */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .current-password-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 400px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .confirm-password-label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .current-password-input {
    padding: 10px;
    background-color: #1e1e1e; /* Dark input background */
    border: 1px solid #333; /* Border color */
    color: #fff; /* White text */
    border-radius: 4px;
  }
  
  .pass-submit {
    padding: 10px 20px;
    background-color: #9b4dff; /* Button background color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pass-submit:hover {
    background-color: #7a34c9; 
  }
  
  .message {
    margin-top: 20px;
    font-size: 1rem;
    color: #ff6347; 
  }